.grid-container {
  display: grid;
  grid-template-columns: 500px;
  position: absolute;
  top: 100px;
  left: calc(50% - 250px);
}

body{
    font-family: 'Crete Round', serif;
    font-size: medium;
    
}

.card {
  border-radius: .25em;
  border: 1px solid #0370af;
 /* border: 1px solid #f98181;
  background: rgba(232, 150, 226, .2)
  background: rgba(249, 129, 129, .2);*/
   background: rgb(91, 194, 234);

}


img {
  min-height: 180px;
  width:100%;
  height:100%;
}

 #showImage{
  font-family: 'Crete Round', serif;
  background: #4abad6;
  font-size: x-large;
  font-weight: bolder;
  min-height: 180px;
  width:100%;
  height:100%;
  
}

.content {
  padding: 15px;
}

button {
  background-color: silver;
  border: 1px solid #2196F3;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: .25em;
}
button:hover {
  background-color: rgb(70, 185, 214);
}

/*media querey for intermittent divice size */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .grid-container { 
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  #popupCard {
    position: fixed;
   
  }
  .card {
    overflow: scroll;
    
  }
}
/* media querey for small devices */
@media screen and (max-width: 480px) {
  #popupCard { 
    max-width: 320px;
    left: 20px;
    
  }
  .card {
    max-width: 320px;
    left: 20px;
    overflow: scroll;
    height: 60%;
    
  }

  .bg-img {
     max-width: 320px;
     left: 20px;
  }

}
