#popup {
  z-index: 10;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px;

}

body{
    font-family: 'Crete Round', serif;
    font-size: medium;
    
}

.card {
  border-radius: .25em;
  border: 1px solid #0370af;
 /* border: 1px solid #f98181;
  background: rgba(232, 150, 226, .2)
  background: rgba(249, 129, 129, .2);*/
   background: rgba(91, 194, 234, .2);
}

img {
  min-height: 180px;
  width:100%;
  height:100%;
}

.content {
  padding: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: .25em;
}
