html {
  box-sizing: border-box;
}


body {
  font-family: 'Crete Round', serif;
  margin: 80px;
  background: #111;
  color: #000;
  counter-reset: element;
}

/* display and spacing of table elements*/

.periodic-table {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 0;
}

/*input box style*/

#searchBoxWrapper{
  position: relative;
  display: block;
  text-align: center;
}


#elementSearch{
	
	border:2px solid rgba(255,255,255,.5);
	font-size:1em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.5);
	border-radius: 1em;
	background:transparent;
	
}
	#elementSearch:focus{
		outline:none;
		color:rgba(255,255,255,.75);
		border-color:rgba(255,255,255,.75);
		
	}
	
	/* select box style */
	
#selectBoxWrapper{
  position: relative;
  display: block;
  text-align: center;
  padding-top: 15px;
}
	
#searchSelect{
  border:2px solid rgba(255,255,255,.5);
	font-size:1em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.5);
	border-radius: 1em;
	background:transparent;
	position: relative;
}

#searchSelect:focus {
  	outline:none;
		color:rgba(255,255,255,.75);
		border-color:rgba(255,255,255,.75);
}

option {
  	color:rgba(255,255,255,.75);
		background: rgba(5, 9, 10, .9);
}

/* Get Random Element button style */

#randomButtonWrapper {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 15px;
}

#button {
  border:2px solid rgba(255,255,255,.5);
	font-size:1em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.5);
	border-radius: 1em;
	background:transparent;
  
}

#button:focus {
  	outline:none;
		color:rgba(255,255,255,.75);
		border-color:rgba(255,255,255,.75);
}


/*dimensions of element list item*/
 .periodic-table > li {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 3px;
  font-weight: bold;
}

/* features of counter increment*/

.periodic-table > li:before {
  counter-increment: element; 
  content: counter(element);
  position: absolute;
  top: 5px;
  left: 6px;
  font-size: 10px;
  font-weight: lighter;
}
/* font styling and positioning of paragraph item atomic mass */
.atomic-mass {
  position: absolute;
  bottom: 5px;
  left: 6px;
  font-size: 10px;
  font-weight: lighter;
}

.element-name {
  position: absolute;
  top: -10px;
  right: 60px;
  font-size: 30px;
}

/* font of element abbreviation*/

.periodic-table > li abbr {
  font-family: 'Crete Round', serif;
  font-size: 20px;
}

/* special positioning */
.column-position-18 {
  grid-column-start: 18;
  background: rgb(244, 90, 90);
}
.column-position-13 {
  grid-column-start: 13;
  background: rgb(207, 133, 242);
}
.column-position-4 {
  grid-column-start: 4;
  grid-row-start: 9;
  background: rgb(237, 28, 150);
}

.actinide-exception {
  grid-row-start: 9;
  background: rgb(237, 28, 150); 
}
.lanthanide-exception {
  grid-row-start: 8;
  background: rgb(160, 237, 28);
}
.col-position-13-Al{
  background: rgb(92, 232, 176);
  grid-column-start: 13;
  
}
.periodic-table:before {
  display: block;
  content: '';
  grid-row: 8 / 10;
  grid-column: 1 / 4;
} 

/* element colour groupings */

.periodic-table .noble-gas {
  background: rgb(244, 90, 90);
}
.periodic-table .halogen {
  background: rgb(244, 224, 90);
}
.periodic-table .alkali {
  background: rgb(239, 179, 236);
}
.periodic-table .hydrogen {
  background: rgb(91, 194, 234);  
}
.periodic-table .alkaline {
  background: rgb(255, 250, 117);
}
.periodic-table .transition-metals{
 background: rgb(92, 232, 176);
}
.periodic-table .unknown {
  background: rgb(0, 118, 209);
}
.periodic-table .lanthanide {
  background: rgb(160, 237, 28);
}
.periodic-table .actinide {
  background: rgb(237, 28, 150);  
}
.periodic-table .metalloid {
  background: rgb(207, 133, 242);  
}
.periodic-table .polyatomic-non-metal {
  background: rgb(244, 165, 90);  
}

/*Media queries for responsive design*/

/*Media query for large screens*/

@media screen and (min-width: 1024px){
  .element-name{
    display: none;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .periodic-table > li {
    height: 65px;
  }
  
  .atomic-mass {
    bottom: -2px;
}
.element-name{
  display: none;
}
}
/*media query for small to medium devices ipads etc...*/

@media screen and (max-width: 768px) {
  body{
    margin:20px;
  }
 .periodic-table{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     grid-auto-rows: auto;
     grid-template-columns: 1fr 1fr;
 }
 .periodic-table > li abbr{
   font-size: 50px;
 }
 .periodic-table > li:before{
   font-size: 20px;
   
 }
 .periodic-table > li{
   margin-top: 5px;
   margin-bottom: 5px;
 }
 .atomic-mass {
   font-size: 20px;
   margin-bottom: 2px;
 }
 .element{
  position: absolute;
  top: -10px;
  right: 80px;
  font-size: 30px;
 }
 .element-name {
  position: relative;
  justify-content: center;
  align-items: center;
}
}

/*media query for small screens mobiles etc..*/

@media screen and (max-width: 480px) {
.periodic-table{
  grid-template-columns: 1fr;
}
 .periodic-table > li abbr{
   font-size: 20px;
 }
 .periodic-table > li:before{
   font-size: 15px;
 }
 .periodic-table > li{
   margin-top: 3px;
   margin-bottom: 3px;
 }
 .atomic-mass{
   font-size: 15px;
   margin-bottom: 2px;
   
 }
 .element{
  position: absolute;
  top: 20px;
  right: 60px;
  
 }
 .element-name {
  position: relative;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  font-size: 20px;
}
}
