html {
  box-sizing: border-box;
}


body {
  font-family: Phenomena, script;
  margin: 80px;
  background: #111;
  color: #000;
  counter-reset: element;
}
.periodic-table {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 0;
}
.periodic-table > li {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 3px;
  background: rgb(92, 232, 176);
  font-weight: bold;
}
.periodic-table > li:before {
  counter-increment: element; 
  content: counter(element);
  position: absolute;
  top: 5px;
  left: 6px;
  font-size: 10px;
  font-weight: lighter;
}

p{
    position: absolute;
  bottom: 5px;
  left: 6px;
  font-size: 10px;
  font-weight: lighter;
}

#helium {
  grid-column-start: 18;
}
#boron, #aluminium {
  grid-column-start: 13;
}
#cerium, #thorium {
  grid-column-start: 4;
}
.periodic-table > li:nth-child(n+58):nth-last-child(n+48) {
  grid-row-start: 8;
}
.periodic-table > li:nth-child(n+90):nth-last-child(n+16) {
  grid-row-start: 9;
}
.periodic-table:before {
  display: block;
  content: '';
  grid-row: 8 / 10;
  grid-column: 1 / 4;
}

.periodic-table > li abbr {
  font-family: 'Crete Round', serif;
  font-size: 20px;
}

.periodic-table .noble-gas {
  background: rgb(244, 90, 90);
}
.periodic-table .diatomic-nonmetal {
  background: rgb(244, 224, 90);
}
.periodic-table .alkali {
  background: rgb(239, 179, 236);
}
.periodic-table .hydrogen {
  background: rgb(91, 194, 234);  
}
.periodic-table .alkaline {
  background: rgb(255, 250, 117);
}
.periodic-table .unknown {
  background: rgb(0, 118, 209);
}
.periodic-table .lanthanide {
  background: rgb(160, 237, 28);
}
.periodic-table .actinide {
  background: rgb(237, 28, 150);  
}
.periodic-table .metalloid {
  background: rgb(207, 133, 242);  
}
.periodic-table .polyatomic-non-metal {
  background: rgb(244, 165, 90);  
}
